<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimelb.studypartner.mapper.AnswerPhotoMapper">
  <resultMap id="BaseResultMap" type="com.unimelb.studypartner.dao.AnswerPhoto">
    <id column="answer_photo_id" jdbcType="INTEGER" property="answerPhotoId" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from answer_photo
    where answer_photo_id = #{answerPhotoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unimelb.studypartner.dao.AnswerPhoto">
    insert into answer_photo (answer_photo_id, comment_id, photo
      )
    values (#{answerPhotoId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, #{photo,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.unimelb.studypartner.dao.AnswerPhoto">
    update answer_photo
    set comment_id = #{commentId,jdbcType=INTEGER},
      photo = #{photo,jdbcType=VARCHAR}
    where answer_photo_id = #{answerPhotoId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select answer_photo_id, comment_id, photo
    from answer_photo
    where answer_photo_id = #{answerPhotoId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select answer_photo_id, comment_id, photo
    from answer_photo
  </select>
</mapper>