<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimelb.studypartner.mapper.MeetingMapper">
  <resultMap id="BaseResultMap" type="com.unimelb.studypartner.dao.Meeting">
    <id column="meeting_id" jdbcType="INTEGER" property="meetingId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="meeting_location" jdbcType="VARCHAR" property="meetingLocation" />
    <result column="meeting_description" jdbcType="VARCHAR" property="meetingDescription" />
    <result column="meeting_time" jdbcType="TIMESTAMP" property="meetingTime" />
    <result column="meeting_create_time" jdbcType="TIMESTAMP" property="meetingCreateTime" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="photo_id" jdbcType="INTEGER" property="photoId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from meeting
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unimelb.studypartner.dao.Meeting">
    insert into meeting (meeting_id, user_id, meeting_location, 
      meeting_description, meeting_time, meeting_create_time, 
      class_id, photo_id)
    values (#{meetingId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{meetingLocation,jdbcType=VARCHAR}, 
      #{meetingDescription,jdbcType=VARCHAR}, #{meetingTime,jdbcType=TIMESTAMP}, #{meetingCreateTime,jdbcType=TIMESTAMP}, 
      #{classId,jdbcType=INTEGER}, #{photoId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.unimelb.studypartner.dao.Meeting">
    update meeting
    set user_id = #{userId,jdbcType=INTEGER},
      meeting_location = #{meetingLocation,jdbcType=VARCHAR},
      meeting_description = #{meetingDescription,jdbcType=VARCHAR},
      meeting_time = #{meetingTime,jdbcType=TIMESTAMP},
      meeting_create_time = #{meetingCreateTime,jdbcType=TIMESTAMP},
      class_id = #{classId,jdbcType=INTEGER},
      photo_id = #{photoId,jdbcType=INTEGER}
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select meeting_id, user_id, meeting_location, meeting_description, meeting_time, 
    meeting_create_time, class_id, photo_id
    from meeting
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select meeting_id, user_id, meeting_location, meeting_description, meeting_time, 
    meeting_create_time, class_id, photo_id
    from meeting
  </select>
</mapper>